{% import "macros/content.html" as content %}

<div class=" container bg-light">
  <div class="container-wrapper">
    <div class="home-symbols">

      <div class="element el1">
        <h2><span>Probleme mit Daten lösen</span></h2>
      </div>

      <div class="element el2">
        <img src="{{content::base_path()}}images/cloud.svg" alt="Haus aus verbundenen Elementen" aria-hidden="true">
      </div>

      <div class="element el3">
        <h2><span>Berührungsängste mit Cloud-Computing abbauen</span></h2>
      </div>

      <div class="element el4">
        <img src="{{content::base_path()}}images/frage.svg" alt="Fragezeichen" aria-hidden="true">
      </div>

      <div class="element el5">
        <h2><span>In interdisziplinären Teams mit Data Scientists und Fachleuten zusammenarbeiten</span></h2>
      </div>

      <div class="element el6">
        <img src="{{content::base_path()}}images/wheel.svg" alt="Rad mit bunten Kreisen, die sich auf die Mitte hinzu bewegen." aria-hidden="true">
      </div>

      <div class="element el8">
        <img src="{{content::base_path()}}images/arrows-up.svg" alt="Pfeile nach oben" aria-hidden="true">
      </div>

      <div class="element el7">
        <h2><span>Gemeinsam<br>Lernen</span></h2>
      </div>

    </div>
  </div>
</div>



