
<section id="pop-ups" class="container bg-dark pops-up" aria-labelledby="round-popups-side-text">
    <div class="container-wrapper">

        <div id="round-popups-side-text" class="side-text left">Darüber hinaus kann ADA bei Bedarf praktisch unterstützen, z.B. durch: </div>

        <ul class="round-popups">
            <li class="card salmon round">

                <h3>Beratung und Begleitung der Durchführung von Datenanalysen oder bei Infrastrukturprojekten.</h3>

            </li>
            <li class="card lilac">

                <h3>Vermittlung (und Betreuung) von Studierenden für Consulting-Projekte oder für Abschlussarbeiten.
                </h3>

            </li>
            <li class="card green round">

                <h3>Durchführung von wissenschaftlicher Begleitforschung.</h3>

            </li>

            <li class="card purple">

                <h3>Iterative Entwicklung von Software und Infrastruktur.</h3>

            </li>
        </ul>
    </div>
</section>
