
<div id="pop-ups" class="container bg-dark pops-up">
    <div class="container-wrapper">

        <div class="side-text left">Basierend auf den Ergebnissen des Workshops kann ADA bei Bedarf bei der praktischen
            Implementierung unterstützen, z.B.:
        </div>

        <div class="round-popups">
            <div class="card salmon round">

                <h3>Beratung bei IT-Herausforderungen sowie beim beim Aufsetzen von Cloud-Lösungen.</h3>

            </div>
            <div class="card lilac">

                <h3>Vermittlung (und Betreuung) von Studierenden für Consulting-Projekte oder für Abschlussarbeiten.
                </h3>

            </div>
            <div class="card green round">

                <h3>Durchführung von wissenschaftlicher Begleitforschung.</h3>

            </div>

        </div>
    </div>
</div>